conversation(display_name="Chiara")
  statement#default
  responses

  statements
    statement#default
      text.
        Un travail incroyable pour sauver la station ! Si je peux suggérer un premier arrêt avec 
        le Fog Owl, l'Académie Arcane des Arts API</span> 
        est juste à quelques tics de distance.<br/><br/>
        En tant que développeur professionnel de logiciels, il est bon de rafraîchir vos connaissances sur les API. 
        ET vous aurez la chance d'étudier sous la direction du professeur 
        Elizabeth Clay, une amie chère et un mentor. Transmettez-lui mes amitiés, voulez-vous ? 
