- const STATE_KEY = 'com.twilioquest.owls_nest';
- const worldState = getState(STATE_KEY);

mixin relieved
  response#relieved.
    Tu semblais soulagé que je sois arrivé vivant dans le Cloud...

mixin get_started
  if worldState.movementSwitch
    response#understood.
      J'ai franchi les pylônes de sécurité - que dois-je faire ensuite ?
  else
    response#get_started.
      On m'a demandé de me présenter ici pour une mission critique - devons-nous commencer ?

conversation(display_name="Chiara")
  case lastResponse
    when "relieved"
      statement#relieved
      responses
        response#fish.
          ...du poisson ?

    when "fish"
      statement#tell_right_away
      responses
        +get_started

    when "who_are_you"
      statement#chiara
      responses
        +relieved
        +get_started

    when "get_started"
      statement#get_started
      responses
        response#letsgo.
          D'accord - qu'est-ce que tu veux que je fasse ?
    
    when "letsgo"
      statement#test_motor
      responses
        response#understood.
          Compris - après avoir actionné l'interrupteur, quelle est la suite ?

    when "understood"
      statement#keep_moving
      responses
        +relieved

    default
      if !worldState.chiaraInitialGreeting
        - worldState.chiaraInitialGreeting = true;
        statement#default
        responses
          response#who_are_you.
            C'est certainement mieux que l'alternative. Je ne pense pas que nous ayons été présentés ?
          +get_started

      else
        statement#follow_up_greeting
        responses
          response#who_are_you.
            Pouvez-vous me rappeler qui vous êtes, et ce que vous faites ici ?
          +get_started

  statements
    statement#default
      text.
        L'interface neurale est stable... Tous les signes vitaux sont dans des paramètres normaux.
        Tu es là, et tu es vivant ! N'est-ce pas merveilleux ?

    statement#follow_up_greeting
      text.
        Bonjour !{settings.name}! Vous vous sentez bien ? Je peux vous aider en quoi que ce soit ?
    
    statement#chiara
      text.
        Oh, oui, bien sûr, bien sûr. <span class="highlight">Chiara</span>, 
        médecin en chef du programme TwilioQuest. J'ai en fait conçu 
        la nouvelle interface neuronale par laquelle vous expérimentez le Cloud. <br/><br/>
        Ce serait un plaisir de vous rencontrer dans n'importe quel circonstance, mais aujourd'hui c'est une
        particulièrement excitante - je n'étais pas tout à fait sûr que cette version de l'interface 
        allait fonctionner !
    
    statement#relieved
      text.
        Je l'ai fait ? Oh, non, je vous assure, l'interface neurale est complètement sûre. <br/><br/>
        Sur une note sans rapport - vous ne sentez pas le poisson, n'est-ce pas ?

    statement#tell_right_away
      text.
        Je sais, quelle question idiote. Pourquoi le ferais-tu ? Il n'y a pas de poisson par ici !<br/><br/>
        Mais si vous commencez à sentir du poisson, vous devez me le dire TOUT DE SUITE, compris ? 
        vous comprenez ? Bien ? Bien.

    statement#keep_moving
      text.
        Passez la porte de l'infirmerie dans le laboratoire technique. Margaret voudra 
        vous parler ensuite - elle vous équipera d'un
        <span class="highlight">outil critique</span> dont vous aurez besoin lors de votre exploration du
        Cloud. Bonne chance !

    statement#test_motor
      text.
        J'ai besoin que vous utilisiez <span class="highlight">les contrôles basiques de mouvement et d'interaction</span>
        pour activer un interrupteur près de la sortie de l'infirmerie. Si vous pouvez le faire,
        nous pourrons être sûrs que votre interface neurale est configurée correctement.<br/><br/>
        Vous pouvez déplacer votre avatar en utilisant les <span class="highlight">touches fléchées, ou les touches Z, Q, S, et D</span>.
        Vous pouvez interagir avec les objets - l'interrupteur, par exemple - 
        en utilisant la <span class="highlight">barre d'espace</span>.

    statement#get_started
      text.
        En effet. Vous avez été sélectionné parmi des milliers d'agents pour prendre les commandes
        d'un prototype de vaisseau d'exploration du cloud que nous appelons le 
        <span class="highlight">Fog Owl</span>.
        Le Fog Owl représente des années de recherche et des milliards de dollars en technologie de pointe. 
        Plus important encore, il pourrait enfin nous permettre de garder une longueur d'avance sur les Anciens Systèmes.
        Avant de nous inquiéter de tout cela. 
        cependant, nous aurons besoin de vérifier vos fonctions motrices de base et de s'assurer que
        que vous êtes apte au service.

// Flush world state changes, if any
- setState(STATE_KEY, worldState);
