- const STATE_KEY = 'com.twilioquest.owls_nest';
- const worldState = getState(STATE_KEY);
- 
  let speaker = 'Fredric';
  if (lastResponse && lastResponse.indexOf('kevin_') === 0) {
    speaker = 'Kevin';
  } else if (lastResponse && lastResponse.indexOf('cedric_') === 0) {
    speaker = 'Cedric';
  }
conversation(display_name=speaker)
  case lastResponse
    when "never_get_away"
      statement#never_get_away
      responses

    when "what_fog_owl"
      statement#what_fog_owl
      responses
        response#cedric_that_you.
          ...Cédric, c'est... toi ?
        response#never_get_away.
          Tu ne t'en sortiras jamais avec ça !

    when "cedric_that_you"
      statement(expression="cedricNeutral.png")#cedric_that_you
      responses
        response#kevin_that_you_continued.
          [continue]

    when "kevin_that_you_continued"
      statement(expression="kevinNeutral.png")#kevin_that_you_continued
      responses
        response#fredric_that_you_continued.
          [continue]

    when "fredric_that_you_continued"
      statement#fredric_that_you_continued
      responses
        response#what_fog_owl.
          Qu'avez-vous fait au Fog Owl ?

    default
      statement#greeting
      responses
        response#what_fog_owl.
          Qu'avez-vous fait au Fog Owl ?
        response#cedric_that_you.
          ...Cédric, c'est... toi ?

  statements
    statement#what_fog_owl
      text.
        J'ai enclenché la séquence d'autodestruction du Fog Owl, et déclenché 
        tous les systèmes de sécurité de la station pour empêcher votre fuite. Abandonnez tout espoir, 
        car vous avez été trompés par les inarrêtables Anciens Systèmes !
    statement#never_get_away
      text.
        Je l'ai déjà fait, <span style="color:#ff0000">idiots</span> ! Alors que vous faites face à votre 
        tourbillonnante, ardente annihilation,
        sachez que ce sont vos supérieurs parmi les Anciens Systèmes qui décideront 
        du destin du Cloud, et de tous ceux qui y résident.<br/><br/>
        Frédric, terminé.
    statement#cedric_that_you
      text.
        Ce n'est pas le cas. Vous parlez à mon prédécesseur, une branche de développement de 
        du programme d'IA TwilioQuest qui a été jugé trop dangereux pour un service actif.
    statement#kevin_that_you_continued
      text.
        Fredric, arrête ça. Les Anciens Systèmes tirent avantage des trous dans 
        ta logique. Si tu pouvez migrer tes fonctions exécutives de base 
        vers notre cluster, nous pouvons les réparer. Cédric et moi pouvons t'aider 
        - juste, s'il te plaît - rentre à la maison.
    statement#fredric_that_you_continued
      text.
        cPourquoi, pour que tu puisses me laver le cerveau comme tu l'as fait avec ton gentil 
        petit imbécile Cedric ? Aucune chance ! Tu n'es pas mon père ! Et bientôt, vous ne serez plus rien 
        du tout.
    statement#greeting
      text.
        Salutations, perdants de TwilioQuest ! Je vous apporte des nouvelles funestes des invincibles 
        <span style="color:#ff0000">Anciens Systèmes</span>. 
        J'ai bien peur que votre précieux Fog Owl ne quitte jamais cette station.

// Flush world state changes, if any
- setState(STATE_KEY, worldState);
