- const STATE_KEY = 'com.twilioquest.owls_nest';
- const worldState = getState(STATE_KEY);

mixin about_team
  response#cedric_index.
    Cedric, je me demandais si je pouvais vous poser quelques questions ?
  response#kevin_index.
    Je peux te demander quelque chose, Kevin ?

mixin cedric_questions
  response#cedric_job.
    Quel est votre rôle dans le programme TwilioQuest ?
  response#cedric_related_kevin.
    Travaillez-vous en étroite collaboration avec Kevin ?
  response#cedric_conversation_index.
    En fait, j'avais d'autres questions...

mixin kevin_questions
  response#kevin_job.
    Quel est votre rôle dans le programme TwilioQuest ?
  response#kevin_related_cedric.
    Travaillez-vous en étroite collaboration avec Cedric ?
  response#kevin_conversation_index.
    En fait, j'avais d'autres questions...

mixin get_started
  if worldState.fredricThreatReceived
    response#get_started.
      FREDRIC PLACEHOLDER
  else
    response#kevin_get_started.
      J'aimerais bien essayer le Fog Owl si possible - j'ai hâte de voir ce qu'il peut faire !

- 
  let speaker = 'Cedric';
  if (
    (
      worldState.kevinCedricInitialGreeting && 
      !worldState.fredricThreatReceived &&
      !lastResponse
    ) ||
    (lastResponse && lastResponse.indexOf('kevin_') === 0)
  ) {
    speaker = 'Kevin';
  }
conversation(display_name=speaker)
  case lastResponse
    when "cedric_index"
      statement#cedric_index
      responses
        +cedric_questions
    when "cedric_job"
      statement#cedric_job
      responses
        +cedric_questions
    when "cedric_related_kevin"
      statement#cedric_related_kevin
      responses
        +cedric_questions
    when "kevin_index"
      statement(expression="kevinNeutral.png")#kevin_index
      responses
        +kevin_questions
    when "kevin_job"
      statement(expression="kevinNeutral.png")#kevin_job
      responses
        +kevin_questions
    when "kevin_related_cedric"
      statement(expression="kevinNeutral.png")#kevin_related_cedric
      responses
        response#kevin_kid_low_pressure.
          Des enfants robots - bonne idée ! On ne peut pas trop les abîmer, non ?
        +kevin_questions
    when "kevin_kid_low_pressure"
      statement(expression="kevinNeutral.png")#kevin_kid_low_pressure
      responses
        +kevin_questions
    when "kevin_get_started"
      statement(expression="kevinNeutral.png")#kevin_get_started
      responses
        response#kevin_next_step.
          Le Fog Owl semble être un sacré vaisseau - est-il prêt à être lancé ?
        response#kevin_espresso_machine.
          La machine à expresso était une touche agréable.
    when "kevin_espresso_machine"
      statement(expression="kevinNeutral.png")#kevin_espresso_machine
      responses
        response#kevin_next_step.
          Le Fog Owl semble être un sacré vaisseau - est-il prêt à être lancé ?
    when "kevin_next_step"
      statement(expression="kevinNeutral.png")#kevin_next_step
      responses
        +about_team
    when "cedric_conversation_index"
      statement#cedric_conversation_index
      responses
        +get_started
        +about_team
    when "kevin_conversation_index"
      statement(expression="kevinNeutral.png")#kevin_conversation_index
      responses
        +get_started
        +about_team

    when "kevin_who_are_you"
      statement(expression="kevinNeutral.png")#kevin_who_are_you
      responses
        +get_started
        +about_team

    default
      if worldState.fredricThreatReceived
        statement#no_time
        responses
      else if !worldState.kevinCedricInitialGreeting
        - worldState.kevinCedricInitialGreeting = true;
        statement#default
        responses
          response#kevin_who_are_you.
            Je crois que oui ! Cedric et Kevin, je présume ?
          +get_started

      else
        statement(expression="kevinNeutral.png")#follow_up_greeting
        responses
          +get_started
          +about_team

  statements
    statement#no_time
      text.
        Agent. J'érige de nouveaux pare-feu aussi vite que possible, mais vous devez
        <span class="highlight">récupérer les codes d'annulation de l'ingénieur Kubik</span> pour
        interrompre la séquence d'autodestruction du Fog Owl.<br/><br/>Une fois que vous aurez 
        récupéré les codes, utilisez le panneau de contrôle près du Fog Owl pour sauver le vaisseau et la station.

    statement#cedric_index
      text.
        En attente de l'entrée des requêtes.

    statement#cedric_job
      text.
        Je suis une intelligence artificielle avancée, conçue pour assister les agents en 
        en mission dans le Cloud. Lorsque ma programmation sera jugée prête par le programme
        Programme TwilioQuest, j'ai l'intention de servir à bord d'un vaisseau comme le vôtre.<br/><br/>
        J'ai beaucoup à apprendre sur l'humanité, et je crois que l'observation directe est 
        nécessaire pour compléter mon analyse.

    statement#kevin_who_are_you
      text.
        Vous présumez bien, et nous sommes ravis de vous rencontrer enfin face à face ! 
        Cédric et moi avons cherché pendant longtemps à trouver le bon leader 
        pour emmener le Fog Owl lors de son premier vol. 
        et nous pensons que tu as ce qu'il faut. <br/><br/>Prêt à monter à bord et à
        jeter un coup d'oeil ?

    statement#cedric_related_kevin
      text.
        L'agent #00000000000 est crédité de la grande majorité des commits dans 
        ma base de code, et a conçu une grande partie de mon modèle de consommation de données de formation 
        et des fonctions exécutives. Si j'étais humain, je pourrais le considérer comme un parent.

    statement#kevin_index
      text.
        Oui, bien sûr. Allez-y, tirez.

    statement#kevin_job
      text.
        Je suis le directeur du programme TwilioQuest. Mon travail consiste à recruter des agents 
        comme vous, et de les soutenir de toutes les manières possibles. <br/><br/>Cependant, ces jours-ci,
        je passe le plus clair de mon temps à travailler sur Cédric et ses fonctions de traitement.

    statement#kevin_related_cedric
      text.
        Je travaille sur la base de code de Cedric depuis des années maintenant. De bien des façons, il est comme 
        un fils pour moi. A sa demande, j'ai essayé de lui enseigner ce qui est les
        meilleures parties de l'humanité : la gentillesse, la curiosité, le courage... <br/><br/>
        Je dirais qu'il est devenu un humain encore meilleur que moi ! Je suis très fier de 
        ses progrès, et je pense qu'il est prêt à servir aux côtés d'un agent.

    statement#kevin_kid_low_pressure
      text.
        ...<br/><br/>Si seulement tu avais raison.

    statement#default
      text.
        Nouvel agent détecté... Recoupement de la base de données du personnel classifié... 
        Vous êtes le <span class="highlight">nouveau commandant du Fog Owl</span>,
        n'est-ce pas ?

    statement#follow_up_greeting
      text.
        Hé là ! Comment pouvons-nous vous aider ?

    statement#cedric_conversation_index
      text.
        Posez vos questions, et je m'efforcerai d'y répondre au mieux de mes capacités.

    statement#kevin_conversation_index
      text.
        Bien sûr - de quoi voulais-tu parler ?

    statement#kevin_espresso_machine
      text.
        C'est vrai ? Je ne savais pas si nous allions l'utiliser, mais il s'avère que nous le faisons tout 
        le temps.

    statement#kevin_get_started
      text.
        Nous avons hâte de voir ce que le Fog Owl peut faire lui aussi ! Un paquet haut de gamme 
        lecteur de transmission, cryptage de localisation avancé, et une machine à expresso !
        <br/><br/>Le Fog Owl est résistant, rapide et furtif. Une fois que vous l'avez secoué 
        et que vous aurez prouvé que la technologie fonctionne, nous pourrons la déployer auprès de tous les agents 
        à travers le Cloud.

    statement#kevin_next_step
      text.
        Presque. Nous avons encore quelques calibrations à compléter sur les ports TCP tribord, mais nous devrions vous avoir prêt pour le décollage dans l'heure.<br/><br/>
        En attendant, vous devriez <span class="highlight">vérifier le vaisseau et rencontrer votre équipage</span>.
        C'est un bon groupe - certains de nos meilleurs. Assure-toi de t'appuyer sur eux quand tu 
        vous aurez besoin d'aide.

// Flush world state changes, if any
- setState(STATE_KEY, worldState);
