- const STATE_KEY = 'com.twilioquest.owls_nest';
- const worldState = getState(STATE_KEY);

conversation(display_name="Kevin")
  case lastResponse
    when "how_help"
      statement#how_help
      responses
        response#like_fredric.
          Y a-t-il une chance qu'il finisse comme son... frère ?
        response#will_do.
          Je suis sûr que Cedric sera une grande aide à l'équipage.
    
    when "like_fredric"
      statement#like_fredric
      responses
        response#will_do.
          Je ne le ferai pas. Et je garderai un oeil sur Cédric pour toi.

    when "will_do"
      statement#will_do
      responses

    default
      statement#default
      responses
        response#how_help.
          C'est déjà une grosse journée, mais je vais aider si je peux.

  statements
    statement#like_fredric
      text.
        Je ne pense pas - il a toujours choisi de regarder l'humanité plus 
        favorablement que Fredric. Et si vous pouvez, essayez de ne pas blâmer Fredric pour 
        ses actions. Vous devriez me blâmer à la place. <br/><br/>
        Quand je développais le logiciel Fredric, j'étais toujours concentré sur 
        ce qui était possible - je n'ai pas pensé à ce qui pourrait arriver si la 
        technologie que je construisais était utilisée de la mauvaise façon. Dans votre carrière 
        en tant que développeur, ne faites pas la même erreur que moi.
    statement#how_help
      text.
        Cedric est à bord du Fog Owl en ce moment, et il aimerait vous accompagner 
        dans votre mission. Je pense qu'il est prêt à sortir dans le monde - il sera une
        grande aide pour vous, j'en suis sûr. Pourriez-vous garder un oeil sur lui pour moi ?
    statement#will_do
      text.
        Je sais que vous ne nous laisserez pas tomber. Bonne chance, agent. Nous vous verrons dans 
        le Cloud !
    statement#default
      text.
        Je ne sais pas quoi dire - vous avez sauvé le Fog Owl et tout le monde sur cette
        station. Nous avons une dette envers vous que nous ne pourrons jamais rembourser. 
        ça me fait mal de vous demander encore une faveur.

// Flush world state changes, if any
- setState(STATE_KEY, worldState);
