- const STATE_KEY = 'com.twilioquest.owls_nest';
- const worldState = getState(STATE_KEY);

mixin break_stuff
  response#break_stuff.
    Tu as l'habitude de casser des choses ?

mixin get_started
  if worldState.firstObjectiveHacked
    response#get_started.
      On dirait que l'outil de piratage fonctionne comme annoncé. Plus de barrière laser.
  else if worldState.hackingToolAcquired
    response#get_started.
      Maintenant que j'ai le dispositif de piratage, que dois-je faire ?
  else
    response#get_started.
      J'ai cru comprendre que vous aviez un outil qui pourrait m'aider dans cette mission ?

conversation(display_name="Margaret")
  case lastResponse
    when "break_stuff"
      statement#break_stuff
      responses
        response#no_harm.
          Hey, pas de mal, pas de faute, n'est-ce pas ?
        response#what_vcr.
          C'est quoi un magnétoscope ?

    when "what_vcr"
      statement#what_vcr
      responses
        +get_started

    when "no_harm"
      statement#extra_parts
      responses
        +get_started

    when "who_are_you"
      statement#margaret
      responses
        +break_stuff
        +get_started

    when "get_started"
      statement#get_started
      responses
        if worldState.firstObjectiveHacked
          response#understood.
            L'outil de piratage va être très utile, merci ! Quelle est notre prochaine étape ?
        else
          response#how_hack.
            Comment utiliser l'outil de piratage ?
    
    when "how_hack"
      statement#how_hack
      responses
        response#understood.
          Trouvez un objet à pirater, accomplissez une tâche, et récoltez les récompenses. Je l'ai.

    when "understood"
      statement#keep_moving
      responses
        response#who_are_you.
          Pouvez-vous me rappeler qui vous êtes, et ce que vous faites ici ?

    default
      if !worldState.margaretInitialGreeting
        - worldState.margaretInitialGreeting = true;
        statement#default
        responses
          response#who_are_you.
            Super ! On s'est déjà rencontrés ?
          +get_started

      else
        statement#follow_up_greeting
        responses
          response#who_are_you.
            Pouvez-vous me rappeler qui vous êtes, et ce que vous faites ici ?
          +get_started

  statements
    statement#default
      text.
        Hého ! Agent ! Par ici ! J'ai quelque chose à vous montrer.

    statement#follow_up_greeting
      text.
        Salutations, compagnon humain. Puis-je offrir ma sagesse ou mon aide ?

    statement#how_hack
      text.
        Approchez-vous d'un objet que vous pensez pouvoir être piraté, et appuyez sur la touche 
        <span class="highlight">barre d'espace</span>. Cela devrait faire apparaître l'interface de piratage. L'interface de piratage vous présentera une sorte de défi - vous devrez peut-être écrire du code, répondre à des questions... des trucs comme ça.
        <br/><br/>Complétez le défi comme décrit, et SHAZAM ! Ce qui était
        verrouillé auparavant ne l'est plus.

    statement#get_started
      if worldState.firstObjectiveHacked
        text.
          Tu as utilisé l'outil de piratage pour faire tomber cette barrière laser ! 
          Ouais ! Vas-y toi !
      else if worldState.hackingToolAcquired
        text.
          Oh, tu as pris l'outil de piratage sur le piédestal ? C'est génial ! 
          C'est pour vous ! Pour l'aventure !<br/><br/>
          Vous devriez l'essayer sur le 
          <span class="highlight">terminal relié à ces satanés lasers</span>
          là-bas.
      else 
        text.
          Vous feriez mieux de croire que oui. C'est ce <span class="highlight">outil de piratage 
          assis sur le piédestal là-bas</span>. Avec cette petite merveille, 
          tu pourras casser toutes sortes de choses, au nom de la justice. 
          bien sûr. <br/><br/>Vous pouvez utiliser l'outil de piratage pour contourner des portes verrouillées, 
          ouvrir des coffres, et notamment, pour <span class="highlight">faire tomber des barrières laser</span> 
          comme celle qui se trouve dans cette pièce.
    
    statement#margaret
      text.
        <span class="highlight">Margaret</span>, et très heureux de faire 
        de faire votre connaissance. Je suis une scientifique expérimentale du programme TwilioQuest. 
        et l'inventeur de l'outil de piratage super pratique que tu utiliseras 
        que vous utiliserez dans vos aventures. <br/><br/>J'ai fondamentalement le meilleur travail du monde - 
        Je dois casser des choses, et les remettre en place, et personne 
        ne semble s'en soucier !
    
    statement#break_stuff
      text.
        Je ne dirais pas que c'est une habitude, mais plutôt une vocation sacrée. J'ai perdu le compte du 
        combien de fois, enfant, j'ai démonté notre magnétoscope et l'ai remonté.

    statement#what_vcr
      text.
        Je ne sais pas si je suis victime d'un troll, ou si je suis juste légitimement super vieux.
  
    statement#extra_parts
      text.
        Il me restait souvent quelques pièces, mais nos cassettes VHS de Ghostbusters 
        semblaient toujours fonctionner. Donc je suppose que c'était bien ?

    statement#keep_moving
      text.
        Une fois votre piratage terminé, vous voudrez franchir la porte pour rencontrer 
        <span class="highlight">Cedric et Kevin</span>. Après cela, je pense que vous êtes prêt pour votre 
        grande aventure à bord du Fog Owl. Je suis si fier que notre petit oiseau soit sur le point de
        de quitter le nid !

// Flush world state changes, if any
- setState(STATE_KEY, worldState);
