- const STATE_KEY = 'com.twilioquest.owls_nest';
- const worldState = getState(STATE_KEY);

conversation(display_name="Ryan")
  case lastResponse
    when "you_okay"
      statement#you_okay
      responses

    default
      statement#thanks
      responses
        response#you_okay.
          Merci, j'y vais aussi vite que je peux. Est-ce que ça va aller ?

  statements
    statement#you_okay
      text.
        Je le pense, grâce à vous. Mais si c'est tout de même le cas, je vais rester
        ici une minute. Pas parce que j'ai peur ou quoi que ce soit, je me suis juste déchiré
        un tendon au foot cette semaine. Ouais - le truc du tendon. <br/><br/>
        Le panneau de contrôle où vous pouvez utiliser le code est le suivant
        <span class="highlight">juste à côté du Fog Owl</span>.
    statement#thanks
      text.
        Merci d'être venu me sauver ! Tiens - prends ce boitier - il 
        contient les clés d'accès à la racine dont tu auras besoin pour interrompre la séquence d'autodestruction du Fog Owl.

// Flush world state changes, if any
- setState(STATE_KEY, worldState);
