- const STATE_KEY = 'com.twilioquest.owls_nest';
- const worldState = getState(STATE_KEY);

conversation(display_name="Ryan")
  case lastResponse
    when "how_help"
      statement#how_help
      responses
        response#on_it.
          Ne vous inquiétez pas, je vais prendre l'extincteur.
    
    when "on_it"
      statement#thanks
      responses

    default
      statement#oh_no
      responses
        response#how_help.
          Ryan ? Je t'aiderai si je peux, mais je ne sais pas comment franchir ces 
          flammes.

  statements
    statement#thanks
      text.
        Je vous en dois une ! Une fois que tu as l'extincteur, marche vers les flammes 
        et <span class="highlight">appuie sur la barre d'espace</span>. L'extincteur 
        devrait se déployer automatiquement. 
    statement#how_help
      text.
        Il devrait y avoir un <span class="highlight">extincteur</span>
        dans la salle de stockage ! Il sera à l'intérieur d'un <span class="highlight">coffre rouge</span>.
        <br/><br/>Avec toute la sécurité de la station qui se dérègle, vous devrez peut-être . 
        <span class="highlight">attaquer le coffre</span> d'abord. Une fois que vous avez l'extincteur , revenez ici et éteignez les flammes. S'il te plaît ?
    statement#oh_no
      text.
        Hé ! Agent ! Un peu d'aide ?

// Flush world state changes, if any
- setState(STATE_KEY, worldState);
